
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/servo_vision.iml
.idea/vcs.xml
.idea/workspace.xml
scripts/computer_vision/__init__.pyc
scripts/computer_vision/calibration/__init__.pyc
scripts/control/__init__.pyc
scripts/control/pySerial_request.pyc
scripts/em_tracking/__init__.pyc
scripts/em_tracking/sample_test.pyc
scripts/general_functions/__init__.pyc
scripts/general_functions/calibration_functions.pyc
.idea/dictionaries/cflai.xml
scripts/control/find_arduino.pyc
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_16_15/calibration_data.json
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_16_15/experiment_12_07_2021_16_15_.csv
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_16_15/experiment_12_07_2021_16_15_.csvfig.png
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_16_15/experiment_lumen_output_videodiscrete_jacobian_12_07_2021_16_15_.avi
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_16_18/calibration_data.json
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_16_18/experiment_12_07_2021_16_18_.csv
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_16_18/experiment_12_07_2021_16_18_.csvfig.png
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_16_18/experiment_lumen_output_videodiscrete_jacobian_12_07_2021_16_18_.avi
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_16_21/calibration_data.json
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_16_21/experiment_12_07_2021_16_21_.csv
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_16_21/experiment_12_07_2021_16_21_.csvfig.png
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_16_21/experiment_lumen_output_videodiscrete_jacobian_12_07_2021_16_21_.avi
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_16_24/calibration_data.json
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_16_24/experiment_12_07_2021_16_24_.csv
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_16_24/experiment_12_07_2021_16_24_.csvfig.png
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_16_24/experiment_lumen_output_videodiscrete_jacobian_12_07_2021_16_24_.avi
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_16_27/calibration_data.json
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_16_27/experiment_12_07_2021_16_27_.csv
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_16_27/experiment_12_07_2021_16_27_.csvfig.png
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_16_27/experiment_lumen_output_videodiscrete_jacobian_12_07_2021_16_27_.avi
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_16_34/calibration_data.json
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_16_34/experiment_12_07_2021_16_34_.csv
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_16_34/experiment_12_07_2021_16_34_.csvfig.png
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_16_34/experiment_lumen_output_videodiscrete_jacobian_12_07_2021_16_34_.avi
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_16_41/calibration_data.json
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_16_41/experiment_12_07_2021_16_41_.csv
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_16_41/experiment_12_07_2021_16_41_.csvfig.png
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_16_41/experiment_lumen_output_videodiscrete_jacobian_12_07_2021_16_41_.avi
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_16_49/calibration_data.json
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_16_49/experiment_12_07_2021_16_49_.csv
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_16_49/experiment_12_07_2021_16_49_.csvfig.png
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_16_49/experiment_lumen_output_videodiscrete_jacobian_12_07_2021_16_49_.avi
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_16_59/calibration_data.json
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_16_59/experiment_12_07_2021_16_59_.csv
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_16_59/experiment_12_07_2021_16_59_.csvfig.png
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_16_59/experiment_lumen_output_videodiscrete_jacobian_12_07_2021_16_59_.avi
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_17_12/calibration_data.json
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_17_12/experiment_12_07_2021_17_12_.csv
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_17_12/experiment_12_07_2021_17_12_.csvfig.png
scripts/general_functions/to_analyze/task_1/all/experiment_discrete_jacobian_12_07_2021_17_12/experiment_lumen_output_videodiscrete_jacobian_12_07_2021_17_12_.avi
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_15_59/calibration_data.json
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_15_59/experiment_12_07_2021_15_59_.csv
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_15_59/experiment_12_07_2021_15_59_.csvfig.png
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_15_59/experiment_lumen_output_videopotential_field_12_07_2021_15_59_.avi
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_16_02/calibration_data.json
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_16_02/experiment_12_07_2021_16_02_.csv
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_16_02/experiment_12_07_2021_16_02_.csvfig.png
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_16_02/experiment_lumen_output_videopotential_field_12_07_2021_16_02_.avi
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_16_05/calibration_data.json
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_16_05/experiment_12_07_2021_16_05_.csv
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_16_05/experiment_12_07_2021_16_05_.csvfig.png
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_16_05/experiment_lumen_output_videopotential_field_12_07_2021_16_05_.avi
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_16_08/calibration_data.json
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_16_08/experiment_12_07_2021_16_08_.csv
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_16_08/experiment_12_07_2021_16_08_.csvfig.png
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_16_08/experiment_lumen_output_videopotential_field_12_07_2021_16_08_.avi
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_16_11/calibration_data.json
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_16_11/experiment_12_07_2021_16_11_.csv
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_16_11/experiment_12_07_2021_16_11_.csvfig.png
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_16_11/experiment_lumen_output_videopotential_field_12_07_2021_16_11_.avi
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_16_30/calibration_data.json
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_16_30/experiment_12_07_2021_16_30_.csv
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_16_30/experiment_12_07_2021_16_30_.csvfig.png
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_16_30/experiment_lumen_output_videopotential_field_12_07_2021_16_30_.avi
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_16_37/calibration_data.json
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_16_37/experiment_12_07_2021_16_37_.csv
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_16_37/experiment_12_07_2021_16_37_.csvfig.png
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_16_37/experiment_lumen_output_videopotential_field_12_07_2021_16_37_.avi
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_16_45/calibration_data.json
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_16_45/experiment_12_07_2021_16_45_.csv
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_16_45/experiment_12_07_2021_16_45_.csvfig.png
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_16_45/experiment_lumen_output_videopotential_field_12_07_2021_16_45_.avi
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_16_56/calibration_data.json
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_16_56/experiment_12_07_2021_16_56_.csv
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_16_56/experiment_12_07_2021_16_56_.csvfig.png
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_16_56/experiment_lumen_output_videopotential_field_12_07_2021_16_56_.avi
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_17_06/calibration_data.json
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_17_06/experiment_12_07_2021_17_06_.csv
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_17_06/experiment_12_07_2021_17_06_.csvfig.png
scripts/general_functions/to_analyze/task_1/all/experiment_potential_field_12_07_2021_17_06/experiment_lumen_output_videopotential_field_12_07_2021_17_06_.avi
scripts/general_functions/to_analyze/task_1/ic_1/experiment_discrete_jacobian_12_07_2021_16_34/calibration_data.json
scripts/general_functions/to_analyze/task_1/ic_1/experiment_discrete_jacobian_12_07_2021_16_34/experiment_12_07_2021_16_34_.csv
scripts/general_functions/to_analyze/task_1/ic_1/experiment_discrete_jacobian_12_07_2021_16_34/experiment_12_07_2021_16_34_.csvfig.png
scripts/general_functions/to_analyze/task_1/ic_1/experiment_discrete_jacobian_12_07_2021_16_34/experiment_lumen_output_videodiscrete_jacobian_12_07_2021_16_34_.avi
scripts/general_functions/to_analyze/task_1/ic_1/experiment_discrete_jacobian_12_07_2021_16_41/calibration_data.json
scripts/general_functions/to_analyze/task_1/ic_1/experiment_discrete_jacobian_12_07_2021_16_41/experiment_12_07_2021_16_41_.csv
scripts/general_functions/to_analyze/task_1/ic_1/experiment_discrete_jacobian_12_07_2021_16_41/experiment_12_07_2021_16_41_.csvfig.png
scripts/general_functions/to_analyze/task_1/ic_1/experiment_discrete_jacobian_12_07_2021_16_41/experiment_lumen_output_videodiscrete_jacobian_12_07_2021_16_41_.avi
scripts/general_functions/to_analyze/task_1/ic_1/experiment_discrete_jacobian_12_07_2021_16_49/calibration_data.json
scripts/general_functions/to_analyze/task_1/ic_1/experiment_discrete_jacobian_12_07_2021_16_49/experiment_12_07_2021_16_49_.csv
scripts/general_functions/to_analyze/task_1/ic_1/experiment_discrete_jacobian_12_07_2021_16_49/experiment_12_07_2021_16_49_.csvfig.png
scripts/general_functions/to_analyze/task_1/ic_1/experiment_discrete_jacobian_12_07_2021_16_49/experiment_lumen_output_videodiscrete_jacobian_12_07_2021_16_49_.avi
scripts/general_functions/to_analyze/task_1/ic_1/experiment_discrete_jacobian_12_07_2021_16_59/calibration_data.json
scripts/general_functions/to_analyze/task_1/ic_1/experiment_discrete_jacobian_12_07_2021_16_59/experiment_12_07_2021_16_59_.csv
scripts/general_functions/to_analyze/task_1/ic_1/experiment_discrete_jacobian_12_07_2021_16_59/experiment_12_07_2021_16_59_.csvfig.png
scripts/general_functions/to_analyze/task_1/ic_1/experiment_discrete_jacobian_12_07_2021_16_59/experiment_lumen_output_videodiscrete_jacobian_12_07_2021_16_59_.avi
scripts/general_functions/to_analyze/task_1/ic_1/experiment_discrete_jacobian_12_07_2021_17_12/calibration_data.json
scripts/general_functions/to_analyze/task_1/ic_1/experiment_discrete_jacobian_12_07_2021_17_12/experiment_12_07_2021_17_12_.csv
scripts/general_functions/to_analyze/task_1/ic_1/experiment_discrete_jacobian_12_07_2021_17_12/experiment_12_07_2021_17_12_.csvfig.png
scripts/general_functions/to_analyze/task_1/ic_1/experiment_discrete_jacobian_12_07_2021_17_12/experiment_lumen_output_videodiscrete_jacobian_12_07_2021_17_12_.avi
scripts/general_functions/to_analyze/task_1/ic_1/experiment_potential_field_12_07_2021_16_30/calibration_data.json
scripts/general_functions/to_analyze/task_1/ic_1/experiment_potential_field_12_07_2021_16_30/experiment_12_07_2021_16_30_.csv
scripts/general_functions/to_analyze/task_1/ic_1/experiment_potential_field_12_07_2021_16_30/experiment_12_07_2021_16_30_.csvfig.png
scripts/general_functions/to_analyze/task_1/ic_1/experiment_potential_field_12_07_2021_16_30/experiment_lumen_output_videopotential_field_12_07_2021_16_30_.avi
scripts/general_functions/to_analyze/task_1/ic_1/experiment_potential_field_12_07_2021_16_37/calibration_data.json
scripts/general_functions/to_analyze/task_1/ic_1/experiment_potential_field_12_07_2021_16_37/experiment_12_07_2021_16_37_.csv
scripts/general_functions/to_analyze/task_1/ic_1/experiment_potential_field_12_07_2021_16_37/experiment_12_07_2021_16_37_.csvfig.png
scripts/general_functions/to_analyze/task_1/ic_1/experiment_potential_field_12_07_2021_16_37/experiment_lumen_output_videopotential_field_12_07_2021_16_37_.avi
scripts/general_functions/to_analyze/task_1/ic_1/experiment_potential_field_12_07_2021_16_45/calibration_data.json
scripts/general_functions/to_analyze/task_1/ic_1/experiment_potential_field_12_07_2021_16_45/experiment_12_07_2021_16_45_.csv
scripts/general_functions/to_analyze/task_1/ic_1/experiment_potential_field_12_07_2021_16_45/experiment_12_07_2021_16_45_.csvfig.png
scripts/general_functions/to_analyze/task_1/ic_1/experiment_potential_field_12_07_2021_16_45/experiment_lumen_output_videopotential_field_12_07_2021_16_45_.avi
scripts/general_functions/to_analyze/task_1/ic_1/experiment_potential_field_12_07_2021_16_56/calibration_data.json
scripts/general_functions/to_analyze/task_1/ic_1/experiment_potential_field_12_07_2021_16_56/experiment_12_07_2021_16_56_.csv
scripts/general_functions/to_analyze/task_1/ic_1/experiment_potential_field_12_07_2021_16_56/experiment_12_07_2021_16_56_.csvfig.png
scripts/general_functions/to_analyze/task_1/ic_1/experiment_potential_field_12_07_2021_16_56/experiment_lumen_output_videopotential_field_12_07_2021_16_56_.avi
scripts/general_functions/to_analyze/task_1/ic_1/experiment_potential_field_12_07_2021_17_06/calibration_data.json
scripts/general_functions/to_analyze/task_1/ic_1/experiment_potential_field_12_07_2021_17_06/experiment_12_07_2021_17_06_.csv
scripts/general_functions/to_analyze/task_1/ic_1/experiment_potential_field_12_07_2021_17_06/experiment_12_07_2021_17_06_.csvfig.png
scripts/general_functions/to_analyze/task_1/ic_1/experiment_potential_field_12_07_2021_17_06/experiment_lumen_output_videopotential_field_12_07_2021_17_06_.avi
scripts/general_functions/to_analyze/task_1/ic_2/experiment_discrete_jacobian_12_07_2021_16_15/calibration_data.json
scripts/general_functions/to_analyze/task_1/ic_2/experiment_discrete_jacobian_12_07_2021_16_15/experiment_12_07_2021_16_15_.csv
scripts/general_functions/to_analyze/task_1/ic_2/experiment_discrete_jacobian_12_07_2021_16_15/experiment_12_07_2021_16_15_.csvfig.png
scripts/general_functions/to_analyze/task_1/ic_2/experiment_discrete_jacobian_12_07_2021_16_15/experiment_lumen_output_videodiscrete_jacobian_12_07_2021_16_15_.avi
scripts/general_functions/to_analyze/task_1/ic_2/experiment_discrete_jacobian_12_07_2021_16_18/calibration_data.json
scripts/general_functions/to_analyze/task_1/ic_2/experiment_discrete_jacobian_12_07_2021_16_18/experiment_12_07_2021_16_18_.csv
scripts/general_functions/to_analyze/task_1/ic_2/experiment_discrete_jacobian_12_07_2021_16_18/experiment_12_07_2021_16_18_.csvfig.png
scripts/general_functions/to_analyze/task_1/ic_2/experiment_discrete_jacobian_12_07_2021_16_18/experiment_lumen_output_videodiscrete_jacobian_12_07_2021_16_18_.avi
scripts/general_functions/to_analyze/task_1/ic_2/experiment_discrete_jacobian_12_07_2021_16_21/calibration_data.json
scripts/general_functions/to_analyze/task_1/ic_2/experiment_discrete_jacobian_12_07_2021_16_21/experiment_12_07_2021_16_21_.csv
scripts/general_functions/to_analyze/task_1/ic_2/experiment_discrete_jacobian_12_07_2021_16_21/experiment_12_07_2021_16_21_.csvfig.png
scripts/general_functions/to_analyze/task_1/ic_2/experiment_discrete_jacobian_12_07_2021_16_21/experiment_lumen_output_videodiscrete_jacobian_12_07_2021_16_21_.avi
scripts/general_functions/to_analyze/task_1/ic_2/experiment_discrete_jacobian_12_07_2021_16_24/calibration_data.json
scripts/general_functions/to_analyze/task_1/ic_2/experiment_discrete_jacobian_12_07_2021_16_24/experiment_12_07_2021_16_24_.csv
scripts/general_functions/to_analyze/task_1/ic_2/experiment_discrete_jacobian_12_07_2021_16_24/experiment_12_07_2021_16_24_.csvfig.png
scripts/general_functions/to_analyze/task_1/ic_2/experiment_discrete_jacobian_12_07_2021_16_24/experiment_lumen_output_videodiscrete_jacobian_12_07_2021_16_24_.avi
scripts/general_functions/to_analyze/task_1/ic_2/experiment_discrete_jacobian_12_07_2021_16_27/calibration_data.json
scripts/general_functions/to_analyze/task_1/ic_2/experiment_discrete_jacobian_12_07_2021_16_27/experiment_12_07_2021_16_27_.csv
scripts/general_functions/to_analyze/task_1/ic_2/experiment_discrete_jacobian_12_07_2021_16_27/experiment_12_07_2021_16_27_.csvfig.png
scripts/general_functions/to_analyze/task_1/ic_2/experiment_discrete_jacobian_12_07_2021_16_27/experiment_lumen_output_videodiscrete_jacobian_12_07_2021_16_27_.avi
scripts/general_functions/to_analyze/task_1/ic_2/experiment_potential_field_12_07_2021_15_59/calibration_data.json
scripts/general_functions/to_analyze/task_1/ic_2/experiment_potential_field_12_07_2021_15_59/experiment_12_07_2021_15_59_.csv
scripts/general_functions/to_analyze/task_1/ic_2/experiment_potential_field_12_07_2021_15_59/experiment_12_07_2021_15_59_.csvfig.png
scripts/general_functions/to_analyze/task_1/ic_2/experiment_potential_field_12_07_2021_15_59/experiment_lumen_output_videopotential_field_12_07_2021_15_59_.avi
scripts/general_functions/to_analyze/task_1/ic_2/experiment_potential_field_12_07_2021_16_02/calibration_data.json
scripts/general_functions/to_analyze/task_1/ic_2/experiment_potential_field_12_07_2021_16_02/experiment_12_07_2021_16_02_.csv
scripts/general_functions/to_analyze/task_1/ic_2/experiment_potential_field_12_07_2021_16_02/experiment_12_07_2021_16_02_.csvfig.png
scripts/general_functions/to_analyze/task_1/ic_2/experiment_potential_field_12_07_2021_16_02/experiment_lumen_output_videopotential_field_12_07_2021_16_02_.avi
scripts/general_functions/to_analyze/task_1/ic_2/experiment_potential_field_12_07_2021_16_05/calibration_data.json
scripts/general_functions/to_analyze/task_1/ic_2/experiment_potential_field_12_07_2021_16_05/experiment_12_07_2021_16_05_.csv
scripts/general_functions/to_analyze/task_1/ic_2/experiment_potential_field_12_07_2021_16_05/experiment_12_07_2021_16_05_.csvfig.png
scripts/general_functions/to_analyze/task_1/ic_2/experiment_potential_field_12_07_2021_16_05/experiment_lumen_output_videopotential_field_12_07_2021_16_05_.avi
scripts/general_functions/to_analyze/task_1/ic_2/experiment_potential_field_12_07_2021_16_08/calibration_data.json
scripts/general_functions/to_analyze/task_1/ic_2/experiment_potential_field_12_07_2021_16_08/experiment_12_07_2021_16_08_.csv
scripts/general_functions/to_analyze/task_1/ic_2/experiment_potential_field_12_07_2021_16_08/experiment_12_07_2021_16_08_.csvfig.png
scripts/general_functions/to_analyze/task_1/ic_2/experiment_potential_field_12_07_2021_16_08/experiment_lumen_output_videopotential_field_12_07_2021_16_08_.avi
scripts/general_functions/to_analyze/task_1/ic_2/experiment_potential_field_12_07_2021_16_11/calibration_data.json
scripts/general_functions/to_analyze/task_1/ic_2/experiment_potential_field_12_07_2021_16_11/experiment_12_07_2021_16_11_.csv
scripts/general_functions/to_analyze/task_1/ic_2/experiment_potential_field_12_07_2021_16_11/experiment_12_07_2021_16_11_.csvfig.png
scripts/general_functions/to_analyze/task_1/ic_2/experiment_potential_field_12_07_2021_16_11/experiment_lumen_output_videopotential_field_12_07_2021_16_11_.avi
